.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2; /* Allow the sub-container to take up remaining vertical space */
  overflow: hidden; /* Hide any overflowing content */
}

.left-side-menu-container {
  flex: 0 0 250px; /* Set a fixed width for the left side menu */
  overflow-y: auto; /* Enable vertical scrolling */
}

.flow-container {
  flex: 1; /* Allow the flow container to take up remaining vertical and horizontal space */
  overflow: scroll; /* Hide any overflowing content */
}
